doctype html
html
  head
    link(href="/css/iwnet.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width")


    script.
      //- TODO: Perform a pretty fade-in if it takes less than the timeout

      (function(d) {
        var config = {
            kitId: 'eby7fcd',
            scriptTimeout: 3000
          },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
      })(document);


    script(src="http://localhost:35729/livereload.js")

    //- TODO: add meta tags

  body
    include icons
    nav.nav
      .nav__inner
        a(href="/").logo
          svg(viewBox="0 0 114 114"): use(xlink:href="#iw")
        ul
          li: a(href="/", class=path=="/about" ? "":"active") Blog
          li: a(href="/about", class=path=="/about" ? "active":"") About
          li: a(href="https://dribbble.com/iest", title="Dribbble")
            svg(viewBox="0 0 114 114"): use(xlink:href="#dribbble")
          li: a(href="https://github.com/iest", title="Github")
            svg(viewBox="0 0 114 114"): use(xlink:href="#github")
          li: a(href="https://twitter.com/_iest", title="Twitter")
            svg(viewBox="0 0 114 114"): use(xlink:href="#twitter")
    .container
      block body
    footer
      p &copy; Iestyn Williams #{new Date().getFullYear()}

    script(src="prettify.js")
    script(src="scripts.js")