doctype html
html
  block head
    link(href="/css/iwnet.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width")
    meta(charset="utf-8")
    meta(name="description", content="Iestyn Williams is a web designer and engineer based in London")

    script.
      // Night mode 8pm to 8am
      var now = new Date().getHours();
      if (now >= 20 || now < 8) {
        document.documentElement.className += ' night-mode';
      }
      (function(d) {
        function fontsAreSuperSlowDude() {
          h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }
        function aaaaaawwwwwwYeeaaaaahhhhhhhh() {
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {}
        }
        var config = {
            kitId: 'eby7fcd',
            scriptTimeout: 300
          },
          h = d.documentElement,
          t = setTimeout(function() {
            fontsAreSuperSlowDude();
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = '//use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function() {
          a = this.readyState;
          if (f || a && a != "complete" && a != "loaded") return;
          f = true;
          aaaaaawwwwwwYeeaaaaahhhhhhhh();
        };
        s.parentNode.insertBefore(tk, s)
      })(document);


  body
    include icons
    nav.nav
      .nav__inner
        ul
          li: a(href="/", class=path=="/about" ? "":"active", title="Home")
            svg(viewBox="0 0 114 114"): use(xlink:href="#iw")
          li: a(href="/about", class=path=="/about" ? "active":"", title="About iest")
            svg(viewBox="0 0 114 114"): use(xlink:href="#info")
          li: a(href="https://dribbble.com/iest", title="iest on Dribbble")
            svg(viewBox="0 0 114 114"): use(xlink:href="#dribbble")
          li: a(href="https://github.com/iest", title="iest on Github")
            svg(viewBox="0 0 114 114"): use(xlink:href="#github")
          li: a(href="https://twitter.com/_iest", title="@_iest on Twitter")
            svg(viewBox="0 0 114 114"): use(xlink:href="#twitter")
    .container
      block body
    footer
      a(href='https://twitter.com/_iest').follow-button
        svg(viewBox="0 0 114 114"): use(xlink:href="#twitter")
        | Follow @_iest
      p &copy; Iestyn Williams #{new Date().getFullYear()}

    script(src="prettify.js")
    script(src="moltenleading.min.js")
    script(src="scripts.js")