/*
  iestynwillams.net styles
  Copyright Iestyn Williams 2014
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #5e5e5e;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #fff;
  font: 1.0625em/1.2 "minion-pro" "Minon Pro", "Georgia", serif;
  padding-bottom: 6em;
}
h1 {
  font: 2.176em/1.2 "futura-pt", "Futura PT", "Futura", "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: -0.5px;
  font-weight: bold;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.41em;
  font-weight: normal;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 0.5em;
}
pre {
  white-space: normal;
  word-break: all;
  background: #fff;
  color: #2f6f9f;
  padding: 0.5em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
code {
  font-family: "Fira Sans Mono", "Fira Mono";
  font-size: 80%;
  background: #f3f2ff;
  color: #7653c1;
}
h1 code,
h2 code,
p code {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
small {
  color: #8e8e8e;
}
article h2 {
  margin: 1em 0 0.5em;
}
footer a,
.container a {
  background: -webkit-linear-gradient(top, transparent 85%, #07ffda 88%, #07ffda 89%, transparent 90%), rgba(94,94,94,0.05);
  background: -moz-linear-gradient(top, transparent 85%, #07ffda 88%, #07ffda 89%, transparent 90%), rgba(94,94,94,0.05);
  background: -o-linear-gradient(top, transparent 85%, #07ffda 88%, #07ffda 89%, transparent 90%), rgba(94,94,94,0.05);
  background: -ms-linear-gradient(top, transparent 85%, #07ffda 88%, #07ffda 89%, transparent 90%), rgba(94,94,94,0.05);
  background: linear-gradient(to bottom, transparent 85%, #07ffda 88%, #07ffda 89%, transparent 90%), rgba(94,94,94,0.05);
  text-decoration: none;
  color: #5e5e5e;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
header {
  margin-bottom: 1em;
  padding: 1em;
}
.logo svg {
  width: 1.764705882em;
  height: 1.411764706em;
  fill: #07ffda;
}
nav {
  font-family: "futura-pt", "Futura PT", "Futura", "Helvetica Neue", "Helvetica", sans-serif;
  max-width: 40em;
  margin: 0 auto;
}
nav ul {
  display: inline-block;
  list-style: none;
  height: 1.411764706em;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 1.5em;
}
nav li a {
  position: relative;
  text-decoration: none;
  letter-spacing: -0.5px;
  color: #07ffda;
}
nav li a:after {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 50%;
  background: #5e5e5e;
  width: 0.2em;
  height: 0.2em;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: translateX(-50%) translateY(0.5em);
  -moz-transform: translateX(-50%) translateY(0.5em);
  -o-transform: translateX(-50%) translateY(0.5em);
  -ms-transform: translateX(-50%) translateY(0.5em);
  transform: translateX(-50%) translateY(0.5em);
}
nav li a:active:after,
nav li a.active:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
nav li a.active:hover:after {
  background: #5e5e5e;
}
nav li a:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  display: block;
  background: #8e8e8e;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.container {
  max-width: 35em;
  margin: 0 auto;
  padding: 0 0.5em;
}
.post-list li {
  margin-bottom: 1em;
}
.post-list a {
  font: 2.176em/1.29 "futura-pt", "Futura PT", "Futura", "Helvetica Neue", "Helvetica", sans-serif;
  text-decoration: none;
  color: #5e5e5e;
  font-weight: bold;
  background: -webkit-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(94,94,94,0.05);
  background: -moz-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(94,94,94,0.05);
  background: -o-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(94,94,94,0.05);
  background: -ms-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(94,94,94,0.05);
  background: linear-gradient(to bottom, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(94,94,94,0.05);
}
footer {
  font-family: "futura-pt", "Futura PT", "Futura", "Helvetica Neue", "Helvetica", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #5e5e5e;
  color: #fff;
  padding: 1em;
}
footer a {
  color: #fff;
}
footer p {
  margin: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  letter-spacing: -1px;
  color: #8e8e8e;
}
footer p:before,
footer p:after {
  content: '';
  display: table;
}
footer p:after {
  clear: both;
}
footer ul {
  text-align: right;
  list-style: none;
}
footer li {
  display: inline-block;
  margin-right: 1em;
}
body {
  background: #5e5e5e;
  color: #dedede;
}
nav li a.active:after,
nav li a:active:after,
nav li a.active:hover:after {
  background: #fff;
}
footer a,
.container a {
  background: -webkit-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(255,255,255,0.1);
  background: -moz-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(255,255,255,0.1);
  background: -o-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(255,255,255,0.1);
  background: -ms-linear-gradient(top, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(255,255,255,0.1);
  background: linear-gradient(to bottom, transparent 85%, #07ffda 86%, #07ffda 88%, transparent 89%), rgba(255,255,255,0.1);
  text-decoration: none;
  color: #dedede;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
footer {
  background: #8e8e8e;
}
footer p {
  color: #5e5e5e;
}
footer a {
  color: #5e5e5e;
}
@media only screen and (min-width: 27em) {
  .container {
    padding: 0 1em;
  }
}
@media only screen and (min-width: 45em) {
  body {
    font-size: 115%;
  }
}
@media only screen and (min-width: 55em) {
  body {
    font-size: 130%;
  }
}
