/**
                    __
   /\      /\      / /
   \ \    /  \    / /
    \ \  / /\ \  / /
     \/ / /  \ \/ /
       / /    \  /
       \/      \/

  Written with <3 by @_iest
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #5e5e5e;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}
body {
  background: #fff;
  font: 1.0625em/1.4 "merriweather", "Georgia", serif;
  padding-bottom: 7em;
}
h1 {
  font: 2.5em/1.2 "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}
h2 {
  font: 1.4em/1.2 "merriweather", "Georgia", serif;
  font-weight: normal;
  margin-bottom: 1em;
}
h3 {
  font: 1.4em/1.2 "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
}
h4 {
  font: 0.9em/1.2 "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}
p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1em;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
blockquote {
  border-left: 2px solid #dedede;
  padding-left: 0.5em;
}
pre {
  max-width: 100%;
  word-break: break-word;
  background: #f5f5f5;
  color: #2f6f9f;
  padding: 0.5em;
  margin: 1em 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
pre code {
  background: none;
  border: none;
}
code {
  font-family: "Fira Sans Mono", "Fira Mono", monospace;
  font-size: 80%;
  border: 1px solid rgba(0,0,0,0.05);
  background: rgba(0,0,0,0.025);
  padding: 0 0.1em;
  margin: 0 -0.1em;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
p code {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 90%;
  text-transform: initial;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
p img {
  max-width: 100%;
  display: block;
  margin: 1em 0;
}
p.codepen {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.pln {
  color: #4f5b66;
}
.str {
  color: #a3be8c;
}
.kwd {
  color: #d08770;
}
.com {
  color: #a7adba;
}
.typ {
  color: #d08770;
}
.lit {
  color: #96b5b4;
}
.pun,
.opn,
.clo {
  color: #d08770;
}
.tag {
  color: #bf616a;
}
.atn {
  color: #d08770;
}
.atv {
  color: #a3be8c;
}
.dec,
.var {
  color: #8fa1b3;
}
.fun {
  color: #8fa1b3;
}
.link,
a,
article > a:hover {
  color: #6226d9;
  text-decoration: none;
  background: rgba(98,38,217,0.025);
  text-decoration: underline;
  -webkit-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  transition: background 200ms ease;
}
.link:hover,
a:hover,
article > a:hover:hover {
  text-decoration: underline;
  background: rgba(98,38,217,0.08);
}
.link:visited,
a:visited,
article > a:hover:visited {
  color: #5e5e5e;
}
small {
  font-size: 80%;
  font-style: italic;
}
aside {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 80%;
  margin-bottom: 1em;
}
@media only screen and (min-width: 64em) {
  aside {
    position: absolute;
    width: 10em;
    left: -11em;
    text-align: right;
  }
}
article {
  border-bottom: 1px solid #dedede;
  padding-bottom: 2em;
  margin-bottom: 5em;
  position: relative;
}
article > a {
  color: #5e5e5e;
  text-decoration: none;
}
article h2 {
  margin: 1em 0 0.5em;
}
article ul {
  list-style: disc;
  margin-left: 1em;
}
article ol {
  list-style: decimal;
  margin-left: 1em;
}
article + article {
  margin-top: 8em;
}
header {
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
header h1 {
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-weight: 200;
  letter-spacing: 0.4em;
  line-height: 1.5;
}
.nav {
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: background 200ms ease;
  -moz-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -ms-transition: background 200ms ease;
  transition: background 200ms ease;
  z-index: 1000;
  text-align: center;
}
.nav.is-floating {
  background: rgba(255,255,255,0.9);
}
.nav__inner {
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 0 0 0.25em 0.25em;
  border-radius: 0 0 0.25em 0.25em;
  font-size: 1.2em;
}
.nav__inner ul {
  list-style: none;
}
.nav__inner li {
  display: inline-block;
  vertical-align: middle;
}
.nav__inner li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #6226d9;
  background: transparent;
  padding: 0.25em 0.5em;
  border-bottom: 3px solid #dedede;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  height: 2em;
}
.nav__inner li a svg {
  height: 1.3em;
  width: 1.3em;
  fill: #6226d9;
  display: block;
  vertical-align: middle;
}
.nav__inner li a.active,
.nav__inner li a:active {
  cursor: default;
  border-bottom: 3px solid #6226d9;
}
.nav__inner li a.active:hover,
.nav__inner li a:active:hover {
  border-bottom: 3px solid #6226d9;
}
.nav__inner li a:hover {
  border-bottom: 3px solid rgba(98,38,217,0.5);
}
.container {
  max-width: 38em;
  margin: 5em auto 0;
  padding: 1em 0.75em;
}
@media only screen and (min-width: 32em) {
  .container {
    padding-top: 3em;
  }
}
.no-fun-nav .container {
  margin: 0 auto;
}
footer {
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
}
footer p {
  margin: 0;
  color: #dedede;
}
footer ul {
  text-align: right;
  list-style: none;
}
footer li {
  display: inline-block;
  margin-right: 1em;
}
.follow-button {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #6226d9;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0.25em 0.5em;
  margin-bottom: 2em;
  color: #5e5e5e;
  fill: #5e5e5e;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.follow-button svg {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.follow-button:hover {
  text-decoration: none;
  color: #6226d9;
  fill: #6226d9;
}
.follow-button:active {
  background: #6226d9;
  color: #fff;
  fill: #fff;
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  -ms-transition: initial;
  transition: initial;
}
.follow-button svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.4em;
}
.night-mode body {
  background: #424242;
  color: #dedede;
}
.night-mode body a,
.night-mode body .link {
  color: #0df280;
  background: rgba(13,242,128,0.05);
}
.night-mode body a svg,
.night-mode body .link svg {
  fill: #0df280;
}
.night-mode body .follow-button {
  background: transparent;
  border-color: #0df280;
  color: #fff;
}
.night-mode body .follow-button svg {
  fill: #fff;
}
.night-mode body .follow-button:hover {
  color: #0df280;
}
.night-mode body .follow-button:hover svg {
  fill: #0df280;
}
.night-mode body .logo {
  background: none;
}
.night-mode body .logo svg {
  fill: #0df280;
}
.night-mode body .nav ul li a {
  background: none;
  border-color: #8e8e8e;
}
.night-mode body .nav ul li a:hover {
  border-color: rgba(13,242,128,0.6);
}
.night-mode body .nav ul li a.active {
  border-color: #0df280;
}
.night-mode body .nav.is-floating {
  background: rgba(66,66,66,0.9);
}
.night-mode body article > a {
  color: #dedede;
}
.night-mode body article > a:hover {
  color: #dedede;
}
.night-mode body pre {
  background: rgba(43,48,59,0.5);
}
.night-mode body pre code {
  background: none;
  border: none;
}
.night-mode body code {
  color: #cffce6;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.1);
}
.night-mode body .pln {
  color: #d3d0c8;
}
.night-mode body .str {
  color: #6cc;
}
.night-mode body .kwd {
  color: #ebcb8b;
}
.night-mode body .com {
  color: #65737e;
}
.night-mode body .typ {
  color: #ebcb8b;
}
.night-mode body .lit {
  color: #c0c5ce;
}
.night-mode body .pun,
.night-mode body .opn,
.night-mode body .clo {
  color: #d08770;
}
.night-mode body .tag {
  color: #bf616a;
}
.night-mode body .atn {
  color: #d08770;
}
.night-mode body .atv {
  color: #a3be8c;
}
.night-mode body .dec,
.night-mode body .var {
  color: #8fa1b3;
}
.night-mode body .fun {
  color: #8fa1b3;
}
@media only screen and (min-width: 20em) {
  .container {
    font-size: 90%;
  }
}
@media only screen and (min-width: 48em) {
  body {
    font-size: 115%;
  }
}
@media only screen and (min-width: 60em) {
  body {
    font-size: 130%;
  }
}
.wf-loading {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.wf-inactive {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
