html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{border:0;border-top:1px solid #eee;display:block;height:1px;margin:1em 0;padding:0}
input,select{vertical-align:middle;}
input html,select html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
input body,select body{min-height:100%;font-size:100%}
input article,select article,input aside,select aside,input details,select details,input figcaption,select figcaption,input figure,select figure,input footer,select footer,input header,select header,input hgroup,select hgroup,input nav,select nav,input section,select section,input audio,select audio,input canvas,select canvas,input video,select video{display:block}
input sub,select sub,input sup,select sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
input sup,select sup{top:-.5em}
input sub,select sub{bottom:-.25em}
input pre,select pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
input b,select b,input strong,select strong{font-weight:bold}
input abbr[title],select abbr[title]{border-bottom:1px dotted}
input input,select input,input textarea,select textarea,input button,select button,input select,select select{margin:0;font-size:100%;line-height:normal;vertical-align:baseline}
input button,select button,input html input[type="button"],select html input[type="button"],input input[type="reset"],select input[type="reset"],input input[type="submit"],select input[type="submit"]{cursor:pointer;-webkit-appearance:button}
input input[type="checkbox"],select input[type="checkbox"],input input[type="radio"],select input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
input textarea,select textarea{overflow:auto}
input table,select table{border-collapse:collapse;border-spacing:0}
[class*="grid__col--"]{display:inline-block;vertical-align:top;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.grid[class*="grid__col--"]{margin:0;padding:0}
.grid__col--20{width:20%}
.grid__col--25{width:25%}
.grid__col--30{width:30%}
.grid__col--33{width:33%}
.grid__col--40{width:40%}
.grid__col--50{width:50%}
.grid__col--60{width:60%}
.grid__col--67{width:67%}
.grid__col--70{width:70%}
.grid__col--75{width:75%}
.grid__col--80{width:80%}
.grid__col--100{width:100%}
@media (max-width: 30em){.grid__col--50{width:100%}
}.container{max-width:65em;margin:0 auto;padding:0 1.6em}
.wf-loading{visibility:hidden}
.wf-active,.wf-inactive{visibility:visible;-moz-animation:fade-in 400ms ease 1;-webkit-animation:fade-in 400ms ease 1;-o-animation:fade-in 400ms ease 1;-ms-animation:fade-in 400ms ease 1;animation:fade-in 400ms ease 1}
html{background:#f5f5f5}
body{color:#2b2f3e;font-family:'ff-tisa-web-pro','Georgia',serif;margin:0;padding:1.5em 0;margin:0 auto;line-height:1.5em;word-wrap:break-word}
.iw_logo{height:1.5em;width:1.5em;}
.iw_logo path{fill:#7863ff}
h1,h2,h3,h4,h5,h6{line-height:1.2em;font-weight:400;margin:1em 0 .5em}
h1{font-size:3em}
h2{font-size:2em}
h3{font-size:1.5em}
h4{font-size:1em}
a{color:#7863ff;text-decoration:none;-moz-transition:box-shadow 250ms ease;-webkit-transition:box-shadow 250ms ease;-o-transition:box-shadow 250ms ease;-ms-transition:box-shadow 250ms ease;transition:box-shadow 250ms ease;}
a:hover,a:focus{box-shadow:inset 0 -2px 0 #e1f5f1}
a:active{opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)}
ul,ol{padding-left:1em}
code,pre{font-family:'fira mono','cousine','inconsolata','menlo',monospace;line-height:1.5em;word-wrap:break-word}
p a{background:none}
p code{font-size:.9em;padding:.1em;background:#fff8c8}
pre{padding:.25em;margin:.5em 0;background:rgba(0,0,0,0.05);-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;border-radius:3px}
.btn{display:inline-block;text-decoration:none;background:#e1f5f1;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;-ms-border-radius:6px;border-radius:6px;padding:.3em .5em;}
.btn:hover,.btn:focus{box-shadow:inset 0 -2px 0 #cfefe9}
.btn:active{opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)}
header{text-align:right;display:block;padding:0;margin:0;margin-bottom:5em;}
header .logo{display:inline-block;float:left;}
header .logo h1{display:inline-block;font-size:1.5em;margin:0;color:#2b2f3e}
header .logo .iw_logo{display:inline-block;vertical-align:baseline;margin-right:1em;position:relative;top:.25em}
header nav{display:inline-block;}
header nav ul{margin:0;padding:0;list-style:none}
header nav li{display:inline-block;font-size:1.5em;margin:0 .5em;}
header nav li:last-child{margin-right:0}
@media (max-width: 29em){header{text-align:center}
header .logo{float:none}
header nav{display:block;margin-top:.5em;padding-top:.5em;border-top:2px solid #e1f5f1;}
header nav li:last-child{margin-right:.5em}
}.hero{max-width:35em;line-height:1.25em;margin:0 auto;margin-bottom:5em;}
.hero h1,.hero h2{font-size:1.5em}
.hero h2{font-size:1.25em}
.hero span{color:#9c9ea7;font-style:italic}
.post-list__item{display:block;margin-bottom:1em;}
.post-list__item h3{margin:0;font-family:'ff-tisa-web-pro','Georgia',serif;display:inline-block;-moz-transition:color 250ms ease;-webkit-transition:color 250ms ease;-o-transition:color 250ms ease;-ms-transition:color 250ms ease;transition:color 250ms ease}
.post-list__item:focus h3,.post-list__item:hover h3{color:#7863ff}
.post-list__item:visited{opacity:.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.post-list__date{text-align:right;display:inline-block;color:#9c9ea7}
footer{font-size:.9em;color:#9c9ea7;padding-top:6em;}
@media (max-width:30em){footer .tar,footer .tal{text-align:center}
}.post__title{margin:0 auto;padding-bottom:2em;max-width:44em;}
.post__title h1{line-height:1em}
.post__title p{color:#9c9ea7}
.post__content{margin:0 auto;max-width:35em;}
.post__content p{margin-bottom:.75em;line-height:1.3em;font-size:1.2em;}
.post__content p:first-child{font-size:1.4em;line-height:1.3em}
.weak{opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)}
.hljs-class{color:#629fcf}
.hljs-attribute{color:#d44410}
.hljs-value{color:#4e9fcf}
.hljs-keyword{color:#6740d4}
.hljs-number{color:#7653c1}
.hljs-string{color:#c46710}
.hljs-title{color:#629fcf}
.hljs-params{color:#d44410}
.hljs-built_in{color:#7653c1}
.hljs-function{background:rgba(103,64,212,0.1)}
.hljs-comment{color:#999}
.night-mode{background:#2b2f3e;}
.night-mode body{color:#9c9ea7}
.night-mode a{color:#ff5656;}
.night-mode a:hover,.night-mode a:focus{box-shadow:0 2px 0 #ff5656}
.night-mode header a{background:rgba(255,86,86,0.1)}
.night-mode p a{background:none}
.night-mode p code{background:none;color:#fff8c8}
.night-mode .iw_logo path{fill:#ff5656}
.night-mode .post-list__item{background:none}
.tal{text-align:left}
.tar{text-align:right}
.tac{text-align:center}
.m0{margin-top:0;margin-right:0;margin-bottom:0;margin-left:0}
.p0{padding-top:0;padding-right:0;padding-bottom:0;padding-left:0}
.pas{padding:.5em}
.pts{padding-top:.5em}
.prs{padding-right:.5em}
.pbs{padding-bottom:.5em}
.pls{padding-left:.5em}
.pam{padding:1em}
.ptm{padding-top:1em}
.prm{padding-right:1em}
.pbm{padding-bottom:1em}
.plm{padding-left:1em}
.pal{padding:2em}
.ptl{padding-top:2em}
.prl{padding-right:2em}
.pbl{padding-bottom:2em}
.pll{padding-left:2em}
.mas{margin:.5em}
.mts{margin-top:.5em}
.mrs{margin-right:.5em}
.mbs{margin-bottom:.5em}
.mls{margin-left:.5em}
.mam{margin:1em}
.mtm{margin-top:1em}
.mrm{margin-right:1em}
.mbm{margin-bottom:1em}
.mlm{margin-left:1em}
.mal{margin:2em}
.mtl{margin-top:2em}
.mrl{margin-right:2em}
.mbl{margin-bottom:2em}
.mll{margin-left:2em}
@-moz-keyframes fade-in{0%{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-webkit-keyframes fade-in{0%{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-o-keyframes fade-in{0%{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-ms-keyframes fade-in{0%{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@keyframes fade-in{0%{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}