/*
  iestynwillams.net styles
  Copyright Iestyn Williams 2014
 */

// Imports
@import "nib"
@import "rupture"
@import "jeet"

// Colours
white = #FFF
black = #5E5E5E
grey_dark = #8E8E8E
grey_light = #DEDEDE
teal = #07FFDA

// Type
font_heading = "futura-pt", "Futura PT", "Futura", "Helvetica Neue", "Helvetica", sans-serif
font_body = "minion-pro" "Minon Pro", "Georgia", serif

global-reset()

// Main

*
  box-sizing border-box

html
  position relative
  min-height 100%

body
  background white
  font 1.0625em/1.2 font_body
  padding-bottom 6em

h1
  font 2.176em/1.2 font_heading
  letter-spacing -0.5px
  font-weight bold
  margin-bottom 1em
h2
  font-size 1.41em
  font-weight normal
  margin-bottom 1em

h3
  font-size 1.2em
  font-weight bold
  margin-bottom 1em

p
  font-size 1em
  line-height 1.4
  margin-bottom 0.5em

pre
  white-space normal
  word-break all
  background #FFFFFF
  color #2F6F9F
  padding 0.5em
  border-radius 3px
code
  font-family "Fira Sans Mono", "Fira Mono"
  font-size 80%
  background #F3F2FF
  color #7653C1

h1
h2
p
  code
    border-radius 3px

small
  color grey_dark

article
  h2
    margin 1em 0 0.5em

footer a
.container a
  background linear-gradient(top, transparent 85%, teal 88%, teal 89%, transparent 90%), rgba(black, 0.05)
  text-decoration none
  color black
  border-radius 2px

header
  margin-bottom 1em
  padding 1em

.logo svg
  width 1.764705882em
  height 1.411764706em
  fill teal

nav
  font-family font_heading
  max-width 40em
  margin 0 auto
  ul
    display inline-block
    list-style none
    height 1.411764706em
    float right
  li
    display inline-block
    margin-left 1.5em
    a
      position relative
      text-decoration none
      letter-spacing -0.5px
      color teal
      &:after
        transition all 200ms ease-out
        opacity 0
        content ""
        position absolute
        bottom -0.25em
        left 50%
        background black
        width 0.2em
        height @width
        border-radius 100%
        transform translateX(-50%) translateY(0.5em)
      &:active:after
      &.active:after
        opacity 1
        transform translateX(-50%)
      &.active:hover:after
        background black
      &:hover:after
        opacity 1
        display block
        background grey_dark
        transform translateX(-50%)

.container
  max-width 35em
  margin 0 auto
  padding 0 0.5em

.post-list
  li
    margin-bottom 1em
  a
    font 2.176em/1.29 font_heading
    text-decoration none
    color black
    font-weight bold
    background linear-gradient(top, transparent 85%, teal 86%, teal 88%, transparent 89%), rgba(black, 0.05)

footer
  font-family font_heading
  position absolute
  left 0
  bottom 0
  width 100%
  background black
  color white
  padding 1em
  a
    color white
  p
    margin 0
    span(1/2)
    letter-spacing -1px
    color grey_dark
  ul
    text-align right
    list-style none
  li
    display inline-block
    margin-right 1em



// At night...
body
  background black
  color grey_light

nav li a
  &.active:after
  &:active:after
  &.active:hover:after
    background white
footer a
.container a
  background linear-gradient(top, transparent 85%, teal 86%, teal 88%, transparent 89%), rgba(white, 0.1)
  text-decoration none
  color grey_light
  border-radius 2px

footer
  background grey_dark
  p
    color black
  a
    color black


// Breakpoints
+above(27em)
  .container
    padding 0 1em
+above(45em)
  body
    font-size 115%
+above(55em)
  body
    font-size 130%