/**
  __                __
  \_\      /\      / /
    _     /  \    / /
    \ \  / /\ \  / /
     \ \/ /  \ \/ /
      \  /    \  /
       \/      \/

  Written with <3 by @_iest
 */

// Imports
@import "nib"
@import "rupture"
@import "jeet"

// Colours
white = #FFF
black = #5E5E5E
grey_dark = #8E8E8E
grey_light = #DEDEDE
primary = hsl(260, 70%, 50%)

// Type
font_heading = "freight-sans-pro", "Helvetica Neue", "Helvetica", sans-serif
font_body = "merriweather", "Georgia", serif

// Main
global-reset()

*
  box-sizing border-box

html
  position relative
  min-height 100%
  transition opacity 200ms ease

body
  background white
  font 1.0625em/1.4 font_body
  padding-bottom 7em

h1
  font 2.5em/1.2 font_heading
  font-weight bold
  margin-bottom 1em
h2
  font 1.4em/1.2 font_body
  font-weight normal
  margin-bottom 1em

h3
  font 1.4em/1.2 font_heading
  font-weight bold
  margin-bottom 0.5em

h4
  font 0.9em/1.2 font_heading
  margin-bottom 0.5em
  font-weight bold
  text-transform uppercase

p
  font-size 1em
  line-height 1.5
  margin-bottom 1em

em
  font-style italic
strong
  font-weight bold
blockquote
  border-left 2px solid grey_light
  padding-left 0.5em

pre
  max-width 100%
  word-break break-word
  background #f5f5f5
  color #2F6F9F
  padding 0.5em
  margin 1em 0
  border-radius 3px
  code
    background none
    border none
code
  font-family "Fira Sans Mono", "Fira Mono", monospace
  font-size 80%
  border 1px solid rgba(#000, 0.05)
  background rgba(#000, 0.025)
  padding 0 0.1em
  margin 0 -0.1em
h1
h2
h3
h4
h5
p
  code
    border-radius 3px
    font-size 90%
    text-transform initial
  img
    max-width 100%
    display block
    margin 1em 0

p.codepen
 opacity 0.7 

.pln
  color: #4F5B66 //plain text
.str
  color: #A3BE8C //string content
.kwd
  color: #D08770 //a keyword
.com
  color: #A7ADBA //a comment
.typ
  color: #D08770 //a type name
.lit
  color: #96B5B4 //a literal value
//punctuation, lisp open bracket, lisp close bracket
.pun, .opn, .clo
  color: #D08770
.tag
  color: #BF616A  //a markup tag name
.atn
  color: #D08770 //a markup attribute name
.atv
  color: #A3BE8C //a markup attribute value
.dec, .var
  color: #8FA1B3 //a declaration; a variable name
.fun
  color: #8FA1B3 //a function name

.link,
a
  color primary
  text-decoration none
  background rgba(primary, 0.025)
  text-decoration underline
  transition background 200ms ease
  &:hover
    text-decoration underline
    background rgba(primary, 0.08)
  &:visited
    color black

small
  font-size 80%
  font-style italic

aside
  opacity 0.5
  font-family font_heading
  font-size 80%
  margin-bottom 1em
+above(64em)
  aside
    position absolute
    width 10em
    left -11em
    text-align right

article
  border-bottom 1px solid grey_light
  padding-bottom 2em
  margin-bottom 5em
  position relative
  & > a
    color black
    text-decoration none
    &:hover
      @extend .link
  h2
    margin 1em 0 0.5em

  ul
    list-style disc
    margin-left 1em
  ol
    list-style decimal
    margin-left 1em
article + article
  margin-top 8em

header
  position absolute
  top 4em
  left 0
  width 100%
  margin 0 auto
  h1
    font-size 0.7em
    text-transform uppercase
    text-align center
    opacity 0.5
    font-weight 200
    letter-spacing 0.4em
    line-height 1.5

.nav
  font-family font_heading
  position fixed
  top 0
  left 0
  width 100%
  margin 0 auto
  transition background 200ms ease
  z-index 1000
  text-align center
  &.is-floating
    background rgba(white, 0.9)

.nav__inner
  display block
  margin 0 auto
  text-align center
  border-radius 0 0 0.25em 0.25em
  font-size 1.2em
  ul
    list-style none
  li
    display inline-block
    vertical-align middle
    a
      display block
      position relative
      text-decoration none
      color primary
      background transparent
      padding 0.25em 0.5em
      border-bottom 3px solid grey_light
      transition all 300ms ease
      height 2em
      svg
        height 1.3em
        width @height
        fill primary
        display block
        vertical-align middle
      &.active
      &:active
        cursor default
        border-bottom 3px solid @color
        &:hover
          border-bottom 3px solid @color
      &:hover
        border-bottom 3px solid rgba(@color, 0.5)

.container
  max-width 38em
  margin 5em auto 0
  padding 1em 0.75em
  +above(32em)
    padding-top 3em
.no-fun-nav .container
  margin 0 auto

footer
  font-family font_heading
  text-align center
  position absolute
  left 0
  bottom 0
  width 100%
  padding 1em
  p
    margin 0
    color grey_light
  ul
    text-align right
    list-style none
  li
    display inline-block
    margin-right 1em

.follow-button
  display inline-block
  text-decoration none
  border 2px solid primary
  border-radius 6px
  padding 0.25em 0.5em
  margin-bottom 2em
  color black
  fill @color
  transition all 200ms ease-out
  svg
    transition all 200ms ease-out
  &:hover
    text-decoration none
    color primary
    fill @color
  &:active
    background primary
    color white
    fill @color
    transition initial
  svg
    display inline-block
    width 1.5em
    height @width
    vertical-align middle
    margin-right 0.4em

// At night...
night = hsl(150, 90%, 50%)
black = darken(black, 30%)
.night-mode body
  background black
  color grey_light
  a
  .link
    color night
    background rgba(night, 0.05)
    svg
      fill night
  .follow-button
    background transparent
    border-color night
    color white
    svg
      fill white
    &:hover
      color night
      svg
        fill night
  .logo
    background none
    svg
      fill night
  .nav ul li a
    background none
    border-color grey_dark
    &:hover
      border-color rgba(night, 0.6)
    &.active
      border-color night
  .nav.is-floating
    background rgba(black, 0.9)
  article > a
    color grey_light
    &:hover
      color grey_light
  pre
    background rgba(#2B303B, 0.5)
    code
      background none
      border none
  code
    color lighten(night, 80%)
    border 1px solid rgba(#fff, 0.1)
    background rgba(#fff, 0.1)
  .pln
    color: #D3D0C8 //plain text
  .str
    color: #66CCCC //string content
  .kwd
    color: #EBCB8B //a keyword
  .com
    color: #65737E //a comment
  .typ
    color: #EBCB8B //a type name
  .lit
    color: #C0C5CE //a literal value
  //punctuation, lisp open bracket, lisp close bracket
  .pun, .opn, .clo
    color: #D08770
  .tag
    color: #BF616A  //a markup tag name
  .atn
    color: #D08770 //a markup attribute name
  .atv
    color: #A3BE8C //a markup attribute value
  .dec, .var
    color: #8FA1B3 //a declaration; a variable name
  .fun
    color: #8FA1B3 //a function name

// Breakpoints

+above(20em)
  .container
    font-size 90%
+above(48em)
  body
    font-size 115%
+above(60em)
  body
    font-size 130%

.wf-loading
  opacity 0
.wf-inactive
  opacity 1