src = '/font/fira'

@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-Light.eot");
  src: local('Fira Sans Light'), url(src + "/FiraSans-Light.eot") format('embedded-opentype'), url(src + "/FiraSans-Light.woff") format('woff'), url(src + "/FiraSans-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-LightItalic.eot");
  src: local('Fira Sans Light Italic'), url(src + "/FiraSans-LightItalic.eot") format('embedded-opentype'), url(src + "/FiraSans-LightItalic.woff") format('woff'), url(src + "/FiraSans-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-Regular.eot");
  src: local('Fira Sans Regular'), url(src + "/FiraSans-Regular.eot") format('embedded-opentype'), url(src + "/FiraSans-Regular.woff") format('woff'), url(src + "/FiraSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-RegularItalic.eot");
  src: local('Fira Sans Regular Italic'), url(src + "/FiraSans-RegularItalic.eot") format('embedded-opentype'), url(src + "/FiraSans-RegularItalic.woff") format('woff'), url(src + "/FiraSans-RegularItalic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-Medium.eot");
  src: local('Fira Sans Medium'), url(src + "/FiraSans-Medium.eot") format('embedded-opentype'), url(src + "/FiraSans-Medium.woff") format('woff'), url(src + "/FiraSans-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-MediumItalic.eot");
  src: local('Fira Sans Medium Italic'), url(src + "/FiraSans-MediumItalic.eot") format('embedded-opentype'), url(src + "/FiraSans-MediumItalic.woff") format('woff'), url(src + "/FiraSans-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-Bold.eot");
  src: local('Fira Sans Bold'), url(src + "/FiraSans-Bold.eot") format('embedded-opentype'), url(src + "/FiraSans-Bold.woff") format('woff'), url(src + "/FiraSans-Bold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url(src + "/FiraSans-BoldItalic.eot");
  src: local('Fira Sans Bold Italic'), url(src + "/FiraSans-BoldItalic.eot") format('embedded-opentype'), url(src + "/FiraSans-BoldItalic.woff") format('woff'), url(src + "/FiraSans-BoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Mono';
  src: url(src + "/FiraMono-Regular.eot");
  src: local('Fira Mono'), url(src + "/FiraMono-Regular.eot") format('embedded-opentype'), url(src + "/FiraMono-Regular.woff") format('woff'), url(src + "/FiraMono-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: url(src + "/FiraMono-Bold.eot");
  src: local('Fira Mono Bold'), url(src + "/FiraMono-Bold.eot") format('embedded-opentype'), url(src + "/FiraMono-Bold.woff") format('woff'), url(src + "/FiraMono-Bold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}
