!!!
html
  head
    title Iestyn Williams
    meta(name='description', content='A web designer and developer based in Cardiff, Wales')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='css/iwnet.css')
    script(src="//use.typekit.net/prr3yiz.js")
    script.
      try{Typekit.load();}catch(e){}

    script(src='scripts.js')

    if (devMode)
      script(src='http://over9000.local:35729/livereload.js')

  body
    a(href='/').logo
      <svg viewBox="0 0 713 576">
      <path d="M74.7810945,25.1394112 L103.584931,99.0820766 L29.277556,123.571656 L-0.00385989192,50.2357075 L72.8810768,25.1394112 Z M131.57649,170.939534 L209.531095,371.05771 L350.314677,0 L485.064677,371.05771 L628.194652,25.1394112 L713,25.1394112 L481.712687,575.524921 L348.638682,208.824709 L209.866294,575.860113 L58.2689866,196.18133 Z M131.57649,170.939534"></path>
      <image src="iw.png" width="65" height="52"/>
      </svg>
    .body
      :markdown
        I'm a web designer and developer based in Cardiff.

        I'm currently building stuff for [Eysys](http://eysys.com).

    .social
      a(href='http://twitter.com/_iest')
        i.icon-twitter
        | Twitter
      a(href='https://github.com/iest')
        i.icon-github-circled
        | Github
      a(href='http://dribbble.com/iest')
        i.icon-dribbble
        | Dribbble