/*
    IMPORTS
*/

@import "html5-reset"
@import "util"
@import "icons"

/*
    VARIABLES
*/

font_main = "pt-sans", "Lucida Grande", "Helvetica", serif
font_heading = "telefon-web", "Futura", sans-serif
font_mono = "Fira Mono", monospace

white = #f5f5f5
blue = #006CFF
blue_light = #11C9FF
yellow = #FFCE00
orange = #FF8E00
green = #00E45A
red = #FF0049
red_dark = #FF0001
grey = #B7B7B7
grey_light = #DEDEDC
black = #333332
black_light = lighten(black, 20%)

main = #543AFC
main_dark = darken(main, 30%)
main_light = lighten(main, 30%)
alternative = #543AFC
alternative_dark = darken(alternative, 30%)
alternative_light = lighten(alternative, 30%)

shadow = 0 1px 3px rgba(#000, 0.25)

/*
    CONTAINERS
*/

$column = (100%/8)

body
    font 1em/1.5em font_main
    transition(all, 400ms, ease-out)
    boxed()
    color black_light
    background white
    max-width 50em
    margin 0 auto
    vendor(backface-visibility, hidden)
    // opacity 0
.logo
    // opacity 0

.wf-active
    body
    .logo
        opacity 1

.wrapper
    boxed()
    margin 0 ($column/2)
.wrapper--tight
    margin 0 ($column/4)

/*
    ATOMS
*/

.logo
    display block
    margin 0 auto
    margin-bottom 0.25em
    width 2.2em
    height @width
    border none
    svg
        width 100%
        height 100%
        fill main
    &:hover
    &:active
        transform(scale(1.1))

.tagline
    text-align center
    color grey
    font-size 1em

.grey
    color grey

h1
h2
h3
h4
h5
    font-family font_heading
    font-weight bold
    color black
    margin 1em 0 0.25em
    line-height 1em

h1
    font-size 3em
    a
        text-decoration none
h2
    font-size 1.75em
    border-bottom .125em solid main
    margin-top 1em
    line-height 1.25em
h3
    font-size 1.75em

h4
    font-size 1.25em
    text-transform uppercase
h5
    font-size 1em
    text-transform uppercase

ul
p
    font-size 1.3em
    margin-top 1em
    line-height 1.5

li
    // font-size 1.25em
    line-height 1.25
    margin-bottom 0.25em
    li
        font-size 1em

em
    font-style italic

strong
    // font-weight normal

hr
    margin 3em 0

a
    color main
    text-decoration none
    &:visited
        color grey

blockquote
    margin 0.5em 0.25em
    border-left 2px solid blue_light
    padding-left 1em
    line-height 1.25em
    font-weight lighter

pre
code
    padding 0.25em
    margin 0.25em 0 0.5em
    line-height 1.2em
    font-family font_mono
    font-size 1em
    word-wrap normal
    overflow-wrap normal
    border-radius 3px
pre
    background rgba(grey, 0.1)
    padding 0.5em
    overflow auto

p code
    padding 0.1em 0.2em
    margin 0.25em 0 0.5em
    background rgba(grey, 0.2)
    font-family font_mono
    font-size 0.8em

ul
ol
    padding-left 1em
    margin-bottom 0.5em

.btn
a.btn
    display inline-block
    font-size 1.3em
    text-align left
    font-weight normal
    font-family font_main
    background alternative
    color white
    border none
    border-radius 5px
    text-decoration none
    margin 0.25em
    padding 0.5em 0.75em
    line-height 1em
    transition()
    vertical-align middle
    vendor(appearance, none)
    transition(all, 500ms, ease)
    cursor pointer
    &:first-of-type
        margin-left 0

    i
        transition()
        display inline-block
        color alternative_dark
        text-shadow none
        font-size 1.25em
        line-height 1em
        vertical-align middle

    &:focus
    &:hover
        box-shadow 0 0.15em 1em rgba(grey, 0.5)
        outline 0
        border-radius 5px
        text-shadow shadow
        i
            color white
            text-shadow shadow
    &:active
        transform(scale(0.95))
        transition(all, 0, ease)
        background darken(@background, 10%)
        color darken(@color, 10%)

.btn--left
a.btn--left
    height 1em
    position relative
    z-index 1
    &:before
        $h = 1em
        // $h squared = sum(x squared + y squared)
        height 1.5em
        transform(rotate(45deg))
        width @height
        background main
        content ""
        position absolute
        z-index -1
        left -0.55em
        top 0.25em
        border-radius 0.1875em 0 0.1875em 0.25em

.btn--dark
a.btn--dark
    // background rgba(main, 0.25)
    background darken(black, 20%)
    color main

    &:hover
    &:focus
        background darken(main, 70%)
        box-shadow none
        i
            color main
            text-shadow 0 0 0.5em main

.btn--round
a.btn--round
    padding 0.5em

.btn--small
a.btn--small
    font-size 0.75em

/*
    MOLECULES
*/

.post p:first-of-type
    font-size 1.5em
    line-height 1.25em

.post-list
    margin 3em 0 5em
.post-list__item
    margin-bottom 1.5em

    h1
        font-size 1.6em
        margin 0
        text-transform none
        font-weight normal
    a
        text-decoration none
        color main
        line-height 1em

        span
            color black
            display block
            font-size 0.6em
            color black

        &:visited
            color grey

            span
                color grey
        &:hover
            text-decoration underline

.profile
    .profile-image
        display block
        margin 0 auto
        border-radius 100%
        width 5em
        boxed()
        border 3px solid rgba(#000, 0.25)

/*
    ORGANISMS
*/


*
    transition()
header
    position relative
    z-index 2
    boxed()

.header
    font-size 1em
    max-width 30em
    boxed()
    padding 1em 0
    margin 0 auto
    display block
    max-width 30em

.content
    padding 2em 0

footer
    boxed()
    max-width 37.5em
    @media(max-width: 30em)
        margin-bottom 0
    margin 3em auto
    font-size 0.8em
    padding 1em
    background grey_light
    border-radius 4px
    p
        text-align left
        line-height 1.25em
        margin 0.5em 0
        em
            opacity 0.5
    .btn--clear
        margin 0.25em
        display inline-block
        font-size 2em
        color main
        border 3px solid grey
        border-radius 100%
        width 1.36em
        height @width
        i
            position relative
            top 0.21em
        &:hover
            border-color main
        &:active
            transform(scale(0.95))

/*
    PAGES
*/

/*
    MODIFIERS
*/

.pull--left
    float left
.pull--right
    float right

.center--inline
    text-align center
.center--block
    display block
    margin 0 auto

.clear
    clear both
    cf()
    padding-bottom 1em

.night-mode
    main = red
    body
        background #222
        color grey

        .logo svg
            fill main

        footer
            border-color main
            background #333
            .btn--clear
                border-color #222
                &:hover
                    border-color main

        a
            color main
        h1
        h2
        h3
        h4
        h5
            color grey
        h2
            border-color main
        blockquote
            border-color main
        .pinstripe
            background #333


        .btn
        a.btn
            color main
            background rgba(@color, 0.2)
            text-shadow 0 0 1em @color
            i
                color darken(main, 30%)
            &:hover
            &:focus
                box-shadow none
                color main
                text-shadow 0 0 1em @color
                background rgba(main, 0.4)
                i
                    box-shadow none
                    color red_dark
                    text-shadow 0 0 1em @color

        .btn--dark
        a.btn--dark
            background #222
            box-shadow none
            text-shadow none
            &:hover
            &:focus
                background #222
